body {
  background-image: url(https://images.pexels.com/photos/3184460/pexels-photo-3184460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: cover;
}
header {
  padding: 5px;
  margin: 10px;
}

h1 {
  text-align: right;
  font-size: 5em;
  margin-bottom: auto;
}
ul {
  list-style: none;
  justify-content: right;
  margin-right: 5px;
  text-align: right;
}
li {
  justify-content: right;
  display: inline;
  padding: 7px;
  font-size: large;
}
a {
  text-decoration: none;
}
a:hover {
  color: blueviolet;
}
button {
  margin: 5px;
  border: 1px solid grey;
  border-radius: 3px;
}
