:root {
  --primary-color: #3e2607;
}
body {
  background-image: url(/images/portfolio-backg.jpeg);
  background-size: cover;
}

.right-col {
  float: right;
  margin-bottom: 100px;
  margin-top: 100px;
}
h1 {
  font-size: 85px;
  text-align: right;
  line-height: 110px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 25px;
}

nav {
  padding-top: 15px;
  width: 60vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-right: 0px;
  font-family: "Sen", sans-serif;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
  font-size: large;
  padding: 0 10px;
  cursor: pointer;
}
a:before,
a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: var(--primary-color);
  transition: 0.5s;
}
a:after {
  left: 0;
  bottom: -10px;
}
a:before {
  right: 0;
  top: -10px;
}

a:hover:after,
a:hover:before {
  width: 100%;
}
.btn {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  text-decoration: none;
  position: relative;
  font-size: large;
  padding: 0 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.dropdown-menu {
  background-color: transparent;
  border: none;
}
.dropdown-item {
  background-color: transparent;
}
