:root {
  --primary-color: #3e2607;
}
.carousel {
  z-index: -99;
}

.carousel .carousel-item {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.carousel .one {
  background: url(/images/portfolio-backg.jpeg);
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .two {
  background: url(https://media.istockphoto.com/id/1173741303/photo/music-headphones.jpg?s=170667a&w=0&k=20&c=BQP6ZP367RShiGFCjBIAPkqBzuNIgHYrh6ECtiKjtvM=);
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .three {
  background: url(https://media.istockphoto.com/id/1035679154/photo/banner-with-white-earphones-on-pink-background.jpg?b=1&s=170667a&w=0&k=20&c=bKJwbXak7k1pSTTcBvqs76Y9-ZWKal2d-tWlN4A1Jlc=);
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .active.left {
  left: 0;
  opacity: 0;
  z-index: 2;
}

.right-col {
  float: right;
  margin-top: auto;
}
h1 {
  font-size: 7vw;
  text-align: right;
  line-height: 100%;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 25px;
}

.navbar {
  padding-top: 15px;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-right: 0px;
  font-family: "Sen", sans-serif;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
  font-size: 2vw;
  padding: auto;
  cursor: pointer;
}
a:before,
a:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background: var(--primary-color);
  transition: 0.5s;
}
a:after {
  left: 0;
  bottom: -10px;
}
a:before {
  right: 0;
  top: -10px;
}

a:hover:after,
a:hover:before {
  width: 100%;
}
.nav-link {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  text-decoration: none;
  position: relative;
  font-size: large;
  padding: 0 10px;
  cursor: pointer;
}
.btn {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  text-decoration: none;
  position: relative;
  font-size: large;
  padding: 0 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.dropdown-menu {
  background-color: transparent;
  border: none;
}
.dropdown-item {
  background-color: transparent;
  font-size: 1.2vw;
}
.right-col {
  display: grid;
}
